@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}
<style>
    #mainNav {
        background-color: #000000b2;
        position: relative;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="navbar-brand js-scroll-trigger">
            <span class="icon-terminal"></span>

            @Html.ActionLink("McflyCorps", "index", "Home")

        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menú
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <div class="nav-link js-scroll-trigger">
                            <span class="icon-users"></span>
                            @Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link js-scroll-trigger">
                            <span class="icon-user-check"></span>
                            @Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")
                        </div>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </div>
</nav>
<h2>Boorar.</h2>

<h3>¿Estas seguro de que quieres eliminar este rol? </h3>
<p>Borrndo este rol borraras tambien todos los usuarios que se encuentran bajo este rol.</p>
<div>
    <h4>Role.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
