@model IEnumerable<ConsultoriaIdentityRoles.Models.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #mainNav {
        background-color: #000000b2;
        position: relative;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="navbar-brand js-scroll-trigger">
            <span class="icon-terminal"></span>

            @Html.ActionLink("McflyCorps", "index", "Home")

        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <div class="nav-link js-scroll-trigger">
                            <span class="icon-users"></span>
                            @Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link js-scroll-trigger">
                            <span class="icon-user-check"></span>
                            @Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")
                        </div>
                    </li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Desarrrollador"))
                {
                    <li class="nav-item">
                        <div class="nav-link js-scroll-trigger">
                            <span class="icon-users"></span>
                            @Html.ActionLink("Comunidad", "comunidad", "Home")
                        </div>
                    </li>

                }
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </div>
</nav>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_desarrollador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caracteristicas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_desarrollador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristicas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
