@model ConsultoriaIdentityRoles.Models.ReunionesModels
@{
    ViewBag.Title = "Consultoria";
}
<link href="~/css/Consultoria1.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="navbar-brand js-scroll-trigger">
            <span class="icon-terminal"></span>

            @Html.ActionLink("McflyCorps", "index", "Home")

        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">

                <li class="nav-item">
                    <div class="nav-link js-scroll-trigger">
                        <span class="icon-cart"></span>

                        @Html.ActionLink("Productos", "productos", "Home")
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </div>
</nav>
@*
    <div class="container" style="margin-top:100px;">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Reunete con nosotros</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                                <label for="inputUserame">Nombre</label>
                            </div>

                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                                <label for="inputEmail">Correo electronico</label>
                            </div>

                            <div class="form-label-group">
                                <input type="tel" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                                <label for="inputUserame">Telefono</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="inputPassword" class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Compañia</label>
                            </div>

                            <div class="form-label-group">
                                <input type="date" id="inputConfirmPassword" class="form-control" placeholder="Password" required min="2020-05-01">
                                <label for="inputConfirmPassword">Fecha</label>
                            </div>
                            <div class="form-label-group">

                                <textarea class="form-control" id="inputCom" rows="4" cols="50">

                        </textarea>
                                <label for="inputCom">¿Como te puedo ayudar?</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Aceptar</button>

                            <hr class="my-4">
                            <!--
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Entrar con Gmail</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Entrar Facebook</button>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top:100px;">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Reunete con nosotros</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Correo, htmlAttributes: new {  })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono, htmlAttributes: new {  })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Compania, htmlAttributes: new {  })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Compania, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Compania, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaHora, htmlAttributes: new {  })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FechaHora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FechaHora, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Razon, htmlAttributes: new {  })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Razon, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Razon, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Enviar" class="btn btn-lg btn-primary btn-block text-uppercase" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


