@{
    ViewBag.Title = "Pagina de inicio";
}
<link href="~/css/Index.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="icon-terminal">McflyCorps</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menú
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <div class="nav-link js-scroll-trigger">
                        <span class="icon-cart"></span>

                        @Html.ActionLink("Productos", "productos", "Home")
                    </div>
                </li>
                @if (Request.IsAuthenticated && User.IsInRole("Desarrrollador"))
                {
                    <li class="nav-item">
                        <div class="nav-link js-scroll-trigger">
                            <span class="icon-users"></span>
                            @Html.ActionLink("Comunidad", "comunidad", "Home")
                        </div>
                    </li>

                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenido a Web Consulting!</div>
            <div class="intro-heading text-uppercase">Es un gusto que nos visites</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">¿Quieres aqui para leer mas?</a>
        </div>
    </div>
</header>



<!-- Portfolio Grid -->
<section class="bg-light page-section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Portafolio</h2>
                <h3 class="section-subheading text-muted">Conoce nuestros servicios.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/1.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Comunidad</h4>
                    <p class="text-muted">Conoce la comunidad de programadores</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/2.png" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Consultoría</h4>
                    <p class="text-muted">¿Buscas algún sistema? </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../img/3.png" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Catálogo de sistemas</h4>
                    <p class="text-muted">Conoce nuestros trabajos realizados</p>
                </div>
            </div>


        </div>
    </div>
</section>



<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Comunidad</h2>
                            <p class="item-intro text-muted">Conoce nuestra comunidad de programadores</p>
                            <img class="img-fluid d-block mx-auto" src="../img/1.jpg" alt="">
                            <p></p>
                            <ul class="list-inline">
                            </ul>
                            <!--
    <button class="btn btn-primary" data-dismiss="modal" type="button">
        <i class="fas fa-times"></i>
        Ver mas
    </button>-->
                            @Html.ActionLink("Ver", "comunidad", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            @*@Html.ActionLink("Ver", "loginD", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Consultoría</h2>
                            <p class="item-intro text-muted">Solicita un sistema.</p>
                            <img class="img-fluid d-block mx-auto" src="../img/2.png" alt="">
                            <p>Nuestra página te ofrece el servicio de consultoría donde creamos un sistema a tu talla y gusto para tu empresa negocio o sistema</p>
                            <ul class="list-inline">
                            </ul>


                            @Html.ActionLink("Ver", "Consultoria", "Home", new { area = "" }, new { @class = "navbar-brand" })

                            <!--
    <a href="views/consultoria.html" class="btn btn-primary">
        <i>Ver mas</i>

    </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Catálogo de sistemas</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="../img/3.png" alt="">
                            <p>Conoce el catálogo de plantillas y proyectos pre diseñados por la comunidad de programadores.</p>
                            <ul class="list-inline">
                            </ul>
                            @Html.ActionLink("Ver", "productos", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            <!--
    <a href="productos.html" class="btn btn-primary">
        <i>Ver mas</i>

    </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->
